# macOS
.DS_Store
__MACOSX/

# Node
node_modules/
client/build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
.venv/
venv/
__pycache__/
*.pyc

# Local configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/api/db.yml

# IDE
.idea/
.vscode/